




.userError{
    color: red;
}
.loginTitle{
    font-size: 2.3em;
    
}

.signingBox{
    margin-left: 13%;
}

.signinButton{
    background-color: #8ECAE6;
    border-radius: 2em;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .signinButton:hover,
  .signinButton:focus {
    background-color: #219EBC;
    color: #ffffff;
  }
  
  .signinButton:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .signinButton:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }
  .signinButton:disabled {
    background-color: #e2756f;
    box-shadow: none;
    color: #000000;
  }