

.ptodashboard-wrapper {
  text-align: center;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}



.ptodashboard-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 70%;
  margin-left: 16%;
  
}

.ptodashboard-box {
  width: 40%;
  background-color: lightgray;
  padding: 5px;
  text-align: center;
  border-radius: 5%;
}

.ptodashboard-progress {
  margin-top: 40px;
  text-align: center;
}

.ptodashboard-progress .CircularProgressbar-text {
  font-size: 20px;
  font-weight: bold;
}

.ptodashboard-progress {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.ptodashboard-box h2 {
  margin: 0;
  padding: 0;
}
.dashboard-numbers{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width:80%;
  margin-left: 10%;
  background-color: lightgray;
  padding: 1%;
  margin-bottom: 5%;
}


