

.ptodashboard-wrapper {
  text-align: center;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

h2 {
  background-color: lightgray;
}

h3 {
  background-color: lightgray;
}

.ptodashboard-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.ptodashboard-box {
  width: 18%;
  background-color: lightgray;
  padding: 5px;
  text-align: center;
}

.ptodashboard-progress {
  margin-top: 40px;
  text-align: center;
}

.ptodashboard-progress .CircularProgressbar-text {
  font-size: 20px;
  font-weight: bold;
}

.ptodashboard-progress {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.ptodashboard-box h2 {
  margin: 0;
  padding: 0;
}

