
.dashboardTitle{
  font-size:230%;
}
.ptodashboard-wrapper {
  text-align: center;
  margin-left: 16%;
  
  max-width: 80%;
  text-align: center;
}




.ptodashboard-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 70%;
  margin-left: 16%;
  
}


.ptodashboard-box {
  width: 40%;
  background-color: lightgray;
  padding: 5px;
  text-align: center;
  border-radius: 5%;
}

.ptodashboard-progress {
  margin-top: 40px;
  text-align: center;
}

.ptodashboard-progress .CircularProgressbar-text {
  font-size: 20px;
  font-weight: bold;
}

.ptodashboard-progress {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.ptodashboard-box h2 {
  margin: 0;
  padding: 0;
}
.dashboard-numbers{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width:80%;
  margin-left: 10%;
  
  padding: 1%;
  margin-bottom: 5%;
}

.cancelPTOButton{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#ffffff;
  background-color: #FB8500;
  text-align:center;
  transition: all 0.2s;
}
.cancelPTOButton:hover{
  background-color:#FFB703;
    color:#000000;
}
 
.cancelPTOButton{
  display:block;
  margin:0.2em auto;
}

.ptodashboard-box-numbers{
  border-radius: 10px;
  background-color: lightgray;
  padding: 1.3%;
  
}
.dataTitle{
  text-decoration: underline;
}
  