.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: min(224px, max(20%, 150px));
  background-color: #272727;
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 1000px) {
  /* .sidebar {
    width: max(20%,150px);
  } */

  .navbar-links-link {
    font-size: max(18px, 2.3vw);
  }
}

.logo {
  margin-bottom: 1rem;
  margin-top: 1rem;
  min-width: 170px;
}

.logo img {
  width: 85%;
}

.navbar {}

.navbar-links {
  padding: 7%;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  border-radius: 25px;
  margin-top: 10%;

}

.navbar-links-link {
  text-decoration: none;
  color: rgb(207, 207, 207);
}

.navbar-links:hover .navbar-links-link {
  color: #272727;

}

.navbar-links:hover {
  background-color: #adadad;
  transition: background-color 0.3s ease;
}

.display-nothing {
  display: none;
}

/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15rem;
  background-color: #d0cdcd;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 85%;
  max-width: 100%;
  height: auto;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.navbar-link {
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  background-color: #adadad;
}


} */

/* nav {
  
  flex-direction: column;
  
  flex-grow: 1;
  
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
  
}

li {
  margin: 10px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
  
}

a {
  display: flex;
  align-items: center;
  color: #090808;
  
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
} */