.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #d0cdcd;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo img {
  width: 80%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
  
}

li {
  margin: 10px 0;
  
}

a {
  display: flex;
  align-items: center;
  color: #090808;
  
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}



.icon {
  margin-right: 10px;
  font-size: 20px;
} 
.NavBar-Links:hover {
  background-color: #adadad;
  border-radius: 25px;
}
