.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f4f4f4;
  color: rgb(180, 176, 176);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo img {
  width: 80%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #f4f4f4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
  background-color: rgb(254, 254, 254);
}

li {
  margin: 10px 0;
  background-color: rgb(249, 244, 244);
}

a {
  display: flex;
  align-items: center;
  color: #090808;
  background-color: rgb(243, 240, 240);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

a:hover {
  color: #ae2a05;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}
.NavBar-Links {
  background-color: #eff1f3;
}
